
@import 'utilities.css';
:root{
    --primary:#05AEF8;
    --dark:#1B2631;
    --white: #FDFEFE;
    --textcolor: #898989;
    --background :#CCD1D1;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smotthing:antialiased;
}
header{
    background: var(--dark) ;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 85%,0 100%);
}

header nav{
    padding: 2rem 0;
}

header nav .logo{
    margin-right: 3rem;
}



header nav .left a{
    color:var(--white);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercases;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: aqua;
}


.container{
    max-width:1152px;
    padding: 0 15px;
    margin: 0 auto;
}
.hero{
    padding: 3rem 0;
}
.hero .left img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 10px;


}
.hero .right{
    color: var(--background);
    text-align: justify;
}
.hero .right h6{
    font-size: 1.6rem;
    color: aqua;
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: justify;
}
.hero .right h1 span{
    color: aquamarine;

}

.hero .right p{
    line-height: 2;
    margin-bottom: 2rem;
    text-align: justify;

}
.hero .right {
    margin-top: -5rem;
}

/**Section css**/

section{
    padding: 6rem 0;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

section.about h1 span{
    color: red;
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
} 

section.about p{
    font-family: 'Ubuntu', sans-serif;
    color:#515A5A ;
    line-height: 2;
    margin-bottom: 2rem;
}
section.about p span{
    color: red;
}

section.about .about-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 10px;
}

section.about .media{
    display: flex;
    padding-top: 2rem;

}

section.about .media a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all 0.3s ease;
}
section.about .media a img{
    width: 100%;
    height: 100%;
    padding: -2rem;
}
section.about .media a:hover{
    background:aqua;

}

.section-heading{
    color: #070607;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading + p{
    color: gray;
    font-family: 'Ubuntu',sans-serif;
    margin-bottom: 8rem;
    text-align: center;

}
.section-heading span{
    color: red;
}

section.services{
    background: lightgray;
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem ;

}
section.services .card-wrapper .card{
    background: white;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem ;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}
section.services .card-wrapper .card img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    
}

section.services .card-wrapper .card  h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p{
    font-family: 'Ubuntu',sans-serif;
    color: #1B2631;
    line-height: 1.5;
}

section.services .card-wrapper .card:hover{
    background: black;
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color: blanchedalmond;
}
section .services .card-wrapper .card img{
  
    padding: -2rem;
}

section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/android.png);
    color: white;
    clip-path: polygon(0 0,100% 0,100% 100%,65% 75%,0 100%);
    padding-bottom: 15rem;

}

section.freelancer span{
    color: red;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Ubuntu',sans-serif;
}

section.review .slider .slide{
    text-align: center;
}

section.review .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;

}
section.contact{
    background: lightgrey
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}

section.contact .card-wrapper .card{
    text-align: center;
    align-content: center;
}

section.contact .card-wrapper .card img{
    width: 50px;
    height: 50px;
    margin-bottom: 2rem;
}

section.contact .card-wrapper .card h1{
    font-weight: 400;
    font-family: 'Ubuntu',sans-serif;
    margin-bottom: 2rem;
}

section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: dimgray;
    font-weight: 400;
    margin-bottom: 5rem;
}

section.contact .input{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 1.5rem;

}
section.contact .input-1{
    display: flex;
    flex-direction: column;
    

}
section.contact input{
    padding: 0.5rem;
    border: 1px solid lightslategrey;
    border-radius: 5px;
    font-size: 0.8rem;
}

section.contact .input-1 input{
    margin-bottom: 2rem;
   
}
section.contact .input-1 textarea{
    padding: 0.5rem;
    border: 1px solid lightslategrey;
    border-radius: 5px;
    font-size: 0.8rem;
}
section.contact input,section.contact textarea{
    outline: none;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
section.contact .btn-wrapper .btn-new{
    border-radius: 50px;
    background: aqua;
    color:darkgrey;
    font-family: 'Ubuntu',sans-serif;

}
section.contact .btn-wrapper .btn-new:hover{
    background:transparent;
    color:black;
    transition: all 0.3s ease;
}

/** FOOTER SECTION **/
footer{
    height: 210px;
    background: black;
    text-align: center;
}
footer .footer-log  img{
    width: 120px;
    height: 120px;
    padding-bottom: 2rem;
    padding-top: 2rem;

}

footer .footer-social a{
    margin-right: 0.5rem;
}
footer .copyright{
    padding:1rem;
    color: blanchedalmond;
}


footer .footer-social img:hover{
    background: aqua;
    border-radius: 50%;
}
footer .footer-social img{
    border-radius: 50%;
}