.flex{
    display: flex;

}
.raj{
    flex: 1;
}
.flex-1{
    flex:1;
}

.items_center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}

.justify-between{
    justify-content: center;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent ;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    text-decoration: none;
    color: black;
    margin-right: 0.5rem;

}
.btn-1{
    background: aqua;
    color: var(--dark);   
    border-radius: 30px; 
    margin-bottom: 1rem;
    font-family: 'Ubuntu'sans-serif;


}
.btn:hover{
    background: transparent;
    border-color: aqua;
    color: black;
    
}
.btn-primary{
    background: var(--primary);
    color: var(--dark);   
    border-radius: 30px; 
}
.btn-primary:hover{
    border-color:aqua;
    background:transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.btn-secondary{
    background: aqua;
    border-radius:  30px; 
    font-family: 'Poppins', sans-serif;
}
.btn-secondary:hover{
    border-color: aqua;
    background: transparent;
    color: white;

}